var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
ws.onmessage = function(message) {
  var data = JSON.parse(message.data);

  if (data.text == "GPS"){
    //data.text="GPS coordinates: "+data.LATITUDE+", "+data.LONGITUDE;
    $("#timestamp").html( data.GMTTIMESTAMP );
    marker.setLatLng(L.latLng(
             data.LATITUDE,
             data.LONGITUDE));
    marker.addTo(map);

  } else {
  
    $("#chat-text").append("<div class='panel panel-default'><div class='panel-heading'>" + data.handle + "</div><div class='panel-body'>" + data.text + "</div></div>");
    $("#chat-text").stop().animate({
      scrollTop: $('#chat-text')[0].scrollHeight
    }, 800);
  }
  
};

$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = $("#input-handle")[0].value;
  var text   = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: handle, text: text }));
  $("#input-text")[0].value = "";
});

L.mapbox.accessToken = '<%= ENV['MAPBOX_ACCESS_TOKEN'] %>';
       
var map = L.mapbox.map('map', 'mapbox.streets')
           .setView([52.1029,0.1396], 11);

    var marker = L.marker([52.1396262,-0.0489162], {
      icon: L.mapbox.marker.icon({
      'marker-color': '#f86767'
    })
});

marker.addTo(map);



